* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montoseratt", sans-serif;
}

.app {
  background-position: center;
}

.app.Main {
  background-image: url(./assets/images/main.webp);
}
.app.Rain,
.app.Drizzle {
  background-image: url(./assets/images/rain.jpg);
}
.app.Clear {
  background-image: url(./assets/images/sunny.jpg);
}
.app.Foggy,
.app.Mist,
.app.Smoke,
.app.Haze,
.app.Dust {
  background-image: url(./assets/images/foggy.jpg);
}
.app.Snowy {
  background-image: url(./assets/images/snow.jpg);
}
.app.Clouds {
  background-image: url(./assets/images/clouds.png);
}
